# Configuration file

general {
    # List of items to ban. Format: 'modid:item_name' or 'modid:item_name:metadata'. Examples: 'minecraft:diamond_block', 'minecraft:wool:14' (red wool). [default: [minecraft:bedrock], [minecraft:spawn_egg:50]]
    S:bannedItems <
	divinerpg:diamondHelmet
	divinerpg:diamondChestplate
	divinerpg:diamondLeggings
	divinerpg:diamondBoots
	divinerpg:ironHelmet
	divinerpg:ironChestplate
	divinerpg:ironLeggings
	divinerpg:ironBoots
     >
}


