# Configuration file

economy {
    # Как называется валюта [default: xzcoin]
    S:currencyName=xzcoin

    # Максимальная выплата за период [range: 1 ~ 10000, default: 10]
    I:payMaximum=10

    # Минимальная выплата за период [range: 1 ~ 1000, default: 3]
    I:payMinimum=3

    # Раз в сколько секунд начислять валюту (3600 = час) [range: 10 ~ 86400, default: 3600]
    I:secondsPerPayment=3600
}


general {
    # Включён ли магазин [default: true]
    B:shopEnabled=true

    # Название магазина [default: Магазин]
    S:shopTitle=Магазин
}


