# Configuration file

cleanup {
    # Как часто убирать выброшенные предметы, в минутах [range: 1 ~ 1440, default: 30]
    I:cleanupIntervalMinutes=30

    # Первое предупреждение, за сколько минут [range: 1 ~ 60, default: 5]
    I:firstWarningMinutes=5

    # Второе предупреждение, за сколько минут [range: 1 ~ 60, default: 1]
    I:secondWarningMinutes=1
}


homes {
    # Сколько домов разрешено игроку [range: 1 ~ 100, default: 5]
    I:homesLimit=5
}


tab {
    # Показывать в табе название сборки, TPS и пинг игроков [default: true]
    B:tabEnabled=true

    # Название сборки в табе [default: TechnoMagicRPG]
    S:tabTitle=TechnoMagicRPG

    # Как часто обновлять таб, в секундах [range: 1 ~ 300, default: 10]
    I:tabUpdateSeconds=10
}


teleport {
    # Сколько секунд ждём ответа на запрос телепорта [range: 10 ~ 600, default: 60]
    I:tpaTimeoutSeconds=60
}


